body {
    background-color: lightslategray;
    color: darkblue;  
    padding: 25px;
}

h1 {
    font-size: 35px;
    color: darkmagenta;
}
      
 h2 {
     color: coral;   
    }

 h3 {
    color: red;
    }
     
a {
    color: black;
  }

  .intro {
      color: red
  }
    