body {
  background-color: lightslategray;
  color: whitesmoke;
  padding: 25px;
}

h1 {
  font-size: 40px;
  color: white;
}

h2 {
  color: lawngreen;
}

h3 {
  color: black;
}

a {
  color: black;
}

.intro {
  color: lightcyan;
}
