body {
    margin: 0;
    /* this font size will effect all elements (other than h1 --> h6) on the page */
    font-size: 21px;
}

/* =========
Typography
============ */
h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

/* ======
Layout
======= */
header {
    background-color: #588C94;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.intro {
    width: 500px;
    margin: 100px auto;
    text-align: center;
}

.my-skills {
    background-color: #1D3C41;
    color: white;
    padding: 75px 0;
    text-align: center;

}

.columns {
    margin: 0 10px;
    display: flex;
    
}


